{
  "presets": [[
    "env", {
      "targets": {
        "browsers": [
          "> 0.5%",
          "last 2 versions"
        ],
        "uglify": true
      },
      "modules": false
    }
  ],["minify", {
    "mangle": {
      "exclude": ["BigInteger","ECPair","Point"]
    },
    "keepFnName": true
  }]],
  "comments": false
}