{
  "presets": [[
    "env", {
      "targets": {
        "browsers": [
          "> 1%",
          "Android 4",
          "iOS 7"
        ],
        "uglify": true
      },
      "modules": false
    }
  ],["minify", {
    "mangle": {
      "keepFnName": true
    }
  }]],
  "comments": false
}